@charset "UTF-8";
.hidden {
    display: none;
}

html.light-theme {
    --bgcolor: #f0f0f0 !important;
    --textcolor: #0f0f0f !important;
    --footerlinecolor: #5a5a5a !important;
}

html.dark-theme {
    --bgcolor: #464646 !important;
    --textcolor: #f0f0f0 !important;
    --footerlinecolor: #5a5a5a !important;
}

html.amoled-theme {
    --bgcolor: #000000 !important;
    --textcolor: #f0f0f0 !important;
    --footerlinecolor: #5a5a5a !important;
}

html {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    transition: 0.1s;
}

body {
    background-color: inherit;
    color: inherit;
}

nav {
    background-color: inherit;
    text-decoration: none;
    //border          : 0.5px solid red;
}

//.theme-toggler-button {
//    background-color: var(--textcolor);
//    color           : var(--bgcolor);
//}
.theme-toggler-button {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.theme-toggler-icon {
    height: 1em;
    width: auto;
}

//body {
//}
.navbar-img {
    width: 2em;
    height: 2em;
}

.standard-section {
    min-height: 55vh;
    max-height: 65vh;
    .container {
        padding-top: 40vh;
        margin-bottom: 10vh;
    }
}

#welcome {
    min-height: 55vh;
    max-height: 65vh;
    .container {
        padding-top: 35vh;
        margin-bottom: 10vh;
    }
}

#welcometo {
    font-size: x-large;
}

#my-calendar {
    margin: 15em 5em 41em 5em;
    padding: 15em 5em 41em 5em;
}

#calendar {
    a {
        text-decoration: none;
        cursor: default;
        color: var(--textcolor);
    }
}

@media screen and (max-width: 1033px) {
    #my-calendar {
        display: none;
    }
}

section:last-of-type {
    .container {
        padding-bottom: 30vh;
    }
}

footer {
    border-top: 1px solid var(--footerlinecolor);
}

.footer {
    margin-top: 21vh;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

@media screen and (max-width: 767px) {
    footer {
        p:last-of-type {
            margin-top: 1em;
        }
    }
}

@media screen and (max-width: 576px) {
    section:last-of-type {
        .container {
            padding-top: 50vh;
            //padding-bottom: 40vh;
        }
    }
    .footer {
        margin-top: 27vh;
    }
    @media screen and (max-width: 374px) {
        .footer {
            margin-top: 40vh;
        }
    }
}

@media screen and (max-height: 570px) {
    .footer {
        margin-top: 40vh;
    }
}