/// FONTS ///
@font-face {
    font-family: 'BigBlue TerminalPlus';
    src: url('/res/fonts/BigBlue_TerminalPlus.eot');
    src: local('BigBlue TerminalPlus'), local('BigBlue_TerminalPlus'),
        url('/res/fonts/BigBlue_TerminalPlus.eot?#iefix') format('embedded-opentype'),
        url('/res/fonts/BigBlue_TerminalPlus.woff2') format('woff2'),
        url('/res/fonts/BigBlue_TerminalPlus.woff') format('woff'),
        url('/res/fonts/BigBlue_TerminalPlus.ttf') format('truetype'),
        url('/res/fonts/BigBlue_TerminalPlus.svg#BigBlue_TerminalPlus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Departure Mono';
    src: url('/res/fonts/DepartureMono-Regular.eot');
    src: local('Departure Mono Regular'), local('DepartureMono-Regular'),
        url('/res/fonts/DepartureMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('/res/fonts/DepartureMono-Regular.woff2') format('woff2'),
        url('/res/fonts/DepartureMono-Regular.woff') format('woff'),
        url('/res/fonts/DepartureMono-Regular.ttf') format('truetype'),
        url('/res/fonts/DepartureMono-Regular.svg#DepartureMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Departure Mono', 'Courier New', Courier, monospace;
}


header {
    height: 1.5rem;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
